/* Order of Properties: Dimension > Position > Style */

body {
    width: 1000px;

    margin: 0 auto;
    padding: 0;
}

@font-face {
    font-family: Nexa;
    src: url(../font/fontface/Nexa_V2_2020/TTF/NexaTextDemo-Bold.ttf);
}

/* button */
button, input[type=button] {
    display: inline-block;
    border: none;
    padding: 0.4rem 0.8rem;
    margin: 0;
    text-decoration: none;
    background: #BEBEBE;
    color: #606060;
    font-family: Helvetica;
    font-size: 0.7rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 0;
     box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
     -webkit-appearance: none;
     -webkit-box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
     -moz-box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

button:focus, input[type=button]:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active, input[type=button]:focus {
    transform: scale(0.99);
}

/* form placeholder */

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

  /* form inputs */

  input[type=text] {
    width: 200px;
    padding: 10px;
    margin: 5px 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    -moz-box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

/* header */

h1 {
    width: 50%;

    text-align: center;
    margin: 5% auto;
    
    font-family: Nexa;
    font-size: 50px;
    color: #606060;
}

/* body */

#condition-container {
    width: 30%;
    height: 200px;

    float: left;

    border-right: 1px solid #606060;
}

#condition-container #form-container {
    width: 80%;

    margin: 0 auto;
    margin-top: 50px;
}

#form-container #start-button {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

#display-container {
    width: 60%;
    height: 200px;

    margin-top: 10px;

    display: inline-block;
}

#display-container #display-container-top {
    width: 90%;
    height: 150px;

    margin: 0 auto;
}

#display-container-top #display-container-top-left {
    width: 45%;

    float: left;
}

#display-container-top #display-container-top-right {
    width: 45%;

    float: right;
}

#display-container-top span {
    font-size: 90px;

    display: block;
    text-align: center;

    font-family: Nexa;
}

#display-container-top-left span {
    color: #A9A9A9;
}

#display-container-top-right span {
    color: #A9A9A9;
}

#display-container-bottom {
    width: 90%;
    height: 30px;

    margin: 0 auto;
}

#left-display-details {
    width: 45%;

    float: left;
    text-align: center;

    border-top: 1px solid #606060;
}

#left-display-details p {
    margin: 0;
    padding: 0;
    margin-top: 3px;

    color: #A9A9A9;
    font-family: Helvetica;
    font-size: 20px;
    font-style: italic;
}

#right-display-control {
    width: 45%;

    float: right;
}

#right-display-control input {
    display: block;
    margin: 0 auto;
}

#reset-button {
    background: #BEBEBE;
    color: #606060;
}

/* footer */
